---
---

@import "{{ site.theme }}";

body {
  font-size: 16px;
}

.wrapper {
  max-width: 720px;
}

header {
  margin-top: 20px;
}

hr {
  margin-top: 20px;
}

section {
  max-width: 720px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

code {
  border: 1px solid #5f5d5b;
  padding: 3px 5px;
}
